/* ### CUSTOM PROPERTIES ### */

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  /* text */
  --gradient-1: hsl(7, 86%, 67%);
  --gradient-2: hsl(0, 0%, 100%);

  /* # TYPOGRAPHY # */
  --ff-inconsolata: "Inconsolata", monospace;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  font: inherit;
  color: inherit;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

/* ### UTILITIES ### */

.error svg path {
  stroke: #b88894;
}

.error {
  color: #b88894;
}

/* .error input {
  outline: 2px solid #b88894;
} */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hide {
  display: none;
}

/* ### GENERAL STYLING ### */

body {
  min-height: 100vh;
  font-family: var(--ff-inconsolata);
  font-weight: var(--fw-400);
  background-image: url(./assets/images/background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--neutral-0);
  position: relative;
}

/* body::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50vh;
  background-image: url(./assets/images/pattern-lines.svg);
} */

p {
  line-height: 1.5;
}

/* ### CONFERENCE TICKET GENERATOR ### */

/* ## HEADER ## */

header {
  padding: 1.5rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
  text-align: center;
}

header .logo-container,
.success-modal .logo-container {
  width: 170px;
  /* margin-inline: auto; */
}

header h1,
.success-modal h2 {
  margin-top: 1.5rem;
  font-size: clamp(1.7rem, 1.2423rem + 1.9531vw, 3rem);
  max-width: 28ch;
}

header .subtitle,
.success-modal .subtitle {
  margin-top: 0.3rem;
  font-size: clamp(1.125rem, 1.0634rem + 0.2629vw, 1.3rem);
  color: #c3c0dd;
  line-height: 1.3;
  font-weight: var(--fw-500);
}

/* ## MAIN ## */

main {
  padding: 1rem;
}

/* ## FORM ## */

form {
  display: grid;
  gap: 1.5rem;
}

/* # DRAG AND DROP SECTION # */

.drop-zone {
  margin-top: 1rem;
  border: 2px dashed #8685a7;
  border-radius: 0.5rem;
  position: relative;
  /* padding: 1.3rem; */
  background-color: #1a163985;
  display: block;
}

#file-selector {
  position: absolute;
  border: 0;
  padding: 0;
  opacity: 0;
}

/* DRAG AND DROP INSTRUCTIONS */

.drag-and-drop-instructions {
  padding: 1.3rem;
}

.drag-and-drop-instructions:hover {
  cursor: pointer;
  background-color: #373451a4;
}

.upload-icon-container {
  padding: 0.6rem;
  border: 1px solid #4b476c;
  border-radius: 0.8rem;
  background-color: #332f52;
  width: 51.2px;
  margin-inline: auto;
}

.drag-and-drop-instructions__text {
  margin-top: 1.4rem;
  text-align: center;
  color: #bbb6d8;
  font-weight: var(--fw-500);
  font-size: clamp(1.12rem, 1.0742rem + 0.1953vw, 1.25rem);
}

/* THUMBAIL DISPLAY */

.thumbail-display {
  padding: 1.3rem;
}

.thumbail-container {
  width: 60px;
  overflow: hidden;
  margin-inline: auto;
  border: 1px solid #4b476c;
  border-radius: 0.8rem;
}

.thumbail-btns {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-top: 1.4rem;
}

.thumbail-btns button {
  background-color: #2f2d539a;
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem 0.8rem;
  width: fit-content;
  color: #dddaf5;
  cursor: pointer;
  font-size: 1rem;
}

.thumbail-btns button:hover {
  background-color: #373451a4;
}

.thumbail-btns .remove-btn {
  text-decoration: underline;
}

.validation-msg .wrapper {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(0.75rem, 0.7324rem + 0.0751vw, 0.8rem);
}

/* # END OF DRAG AND DROP SECTION # */

input,
button {
  display: block;
  width: 100%;
}

label {
  font-size: clamp(1.125rem, 1.0634rem + 0.2629vw, 1.3rem);
  font-weight: var(--fw-500);
  color: #e1def9;
}

input {
  margin-top: 0.8rem;
  background-color: #1a163985;
  padding: 1.1rem;
  border-radius: 0.5rem;
  border: 1px solid #8685a7;
  font-size: clamp(1.12rem, 1.0742rem + 0.1953vw, 1.25rem);
}

input:hover {
  cursor: pointer;
  background-color: #373451a4;
}

input::placeholder {
  color: #cfcde2;
  font-weight: var(--fw-500);
}

form > button {
  background-color: var(--orange-500);
  padding: 1.1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  font-weight: var(--fw-800);
  color: var(--neutral-900);
  font-size: clamp(1.2rem, 1.1296rem + 0.3005vw, 1.4rem);
}

form > button:hover {
  background-color: var(--orange-700);
  cursor: pointer;
}

/* ### DIALOG ### */

.success-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: unset;
  height: unset;
  background-image: url(./assets/images/background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--neutral-0);
  padding: 1.5rem 1rem;
  display: grid;
  justify-items: center;
  align-content: start;
  border: none;
  gap: 1rem;
  text-align: center;
}

.ticket {
  text-align: start;
  display: grid;
  gap: 2rem;
  margin-top: 5rem;
  background-image: url(./assets/images/pattern-ticket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 343px;
  height: 160px;
  padding: 1rem;
}

.ticket h3 {
  font-size: 1.4rem;
}

.ticket .full-name {
  font-weight: var(--fw-500);
}

.location-info,
.social-info {
  font-size: 0.825rem;
  margin-top: 0.2rem;
}

.ticket__header,
.ticket__content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-mark-container {
  width: 35px;
}

.avatar-photo-container {
  width: 50px;
  border-radius: 0.4rem;
  overflow: hidden;
}

.social-info {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.github-icon {
  width: 18px;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 40em) {
  body {
    background-image: url(./assets/images/background-desktop.png);
  }

  form {
    width: 500px;
    margin-inline: auto;
  }

  .success-modal {
    background-image: url(./assets/images/background-desktop.png);
  }
}
